
/* check if ccs is linked */
/* html {
	background-color: aquamarine
} */

header{
	text-align: center;
	color: brown;
}

h3{
	text-align: center;
	/* "hides Top Scorer */
	/* color: white; */
}

p{
	text-align: center;
}

